html, body {
	background-color: gray;
	/*height:100%;*/
}

h3{
	color: orange;
}

.content{
	background-color: white;
	margin-top: 10px;
	border-radius: 10px;
	padding: 15px;
	/*min-height: 100%;*/
}

.orangeLetter{
	color: orange;
}

.bottomspace{
	margin-bottom: 20px;
}

/*HEADER*/
.header {
	text-align: center;
}
/*END HEADER*/

/*MAIN*/
.graybox {
	background-color: #EEEEEE;
	padding: 10px;
}
.graybox  img{
	max-width: 80%;
	display: block;
    margin: 0 auto;
}
/*END MAIN*/

/*TEAM*/
.team img{
	width: 80%;
	/* center
	display: block;
    margin: 0 auto;
	*/
}
.team h1{
	font-size:22px; font-weight:bold; margin:5px 0 5px 0px;
}
.team h2{
	font-size:18px; font-weight:bold; margin:0 0 15px 0px;
}
.team h3{
	font-size:14px; font-weight:bold; margin:0 0 5px 0px;
}
.team p{
	font-size:14px; margin:0 0 5px 0px;
}
/*END TEAM*/

/*KONTAKT*/
.kontakt h1{
	font-size:22px; font-weight:bold; margin:5px 0 5px 0px;
}
.kontakt h2{
	font-size:18px; font-weight:bold; margin:0 0 15px 0px;
}
.kontakt h3{
	font-size:14px; font-weight:bold; margin:0 0 5px 0px;
}
.kontakt p{
	font-size:14px; margin:0 0 5px 0px;
}
/*END KONTAKT*/

/*FOOTER*/
.footer {
	text-align: center;
	background-color: #EEEEEE;
	margin-top: 50px;
}
.footer  p{
	margin: 0px;
}
/*END FOOTER*/


